* {
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

body {
  font-family: "Roboto", sans-serif;
  border-top: #4a3174 solid 8px;
}
#container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 50px;
}

@media (min-width: 1000px) {
  #container {
    width: 100%;
  }
}
@media (max-width: 800px) {
  #inscription,
  #connexion {
    display: block;
  }
  header nav ul li {
    padding: 10px;
  }
  #inscription {
    margin-top: 20px;
  }
}
@media (min-width: 800px) {
  header,
  header nav ul {
    display: flex;
  }
  header {
    justify-content: space-between;
  }
  header a svg {
    display: none;
  }
}
/*header, header nav ul {
    display: flex;
}*/
header nav ul {
  padding: 10px 0;
}
header {
  /*justify-content: space-between;*/
  margin-top: 18px;
}
header nav ul li {
  list-style-type: none;
  margin-right: 30px;
  font-size: 14px;
  color: #4a3174;
}
.bold {
  font-weight: bold;
}
#connexion {
  border: none;
  color: #9d9d9d;
  background: white;
  margin-right: 30px;
}
#inscription {
  border-radius: 3px;
  color: #f2f2f2;
  background: #4a3174;
  border: none;
  padding: 10px 20px;
}
/*#wrap {
    display: flex;
}
#wrap:target #open,
#wrap:not(:target) #close {
  display: none;
}
#wrap:target #open {
  display: none;
}
#wrap:not(:target) {
  transform: translate3d(-335px, 0, 0);
}
#wrap:target {
  transform: translate3d(0, 0, 0);
}
#open,
#close {
  display: block;
}*/
