@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  margin: 0;
}

a {
  text-decoration: none;
  color: #4a3174;
}

body {
  font-family: "Roboto", sans-serif;
  border-top: #4a3174 solid 8px;
  background: #fafafa;
}
#container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 50px;
}
#btn-menu {
  display: none;
}
#connexion {
  border: none;
  color: #9d9d9d;
  background: white;
  margin-right: 30px;
  padding: 10px 20px;
}
#inscription {
  border-radius: 3px;
  color: #f2f2f2;
  background: #4a3174;
  border: none;
  padding: 10px 20px;
}
@media (min-width: 1000px) {
  #container {
    width: 100%;
  }
}
@media (max-width: 800px) {
  #inscription,
  #connexion {
    display: none;
  }
  header nav ul li {
    padding: 10px;
  }
  #inscription {
    margin-top: 20px;
  }
  #articles article:nth-child(3) {
    display: none;
  }
  #ul-block ul:nth-child(3) {
    display: none;
  }
  #btn-menu {
    display: block;
    border: none;
  }
  #navbar {
    display: none;
  }
}
@media (min-width: 800px) {
  header,
  header nav ul {
    display: flex;
  }
  header {
    justify-content: space-between;
  }
  header a svg {
    display: none;
  }

  #recherche {
    display: flex;
    justify-content: space-between;
  }
}
/*header, header nav ul {
    display: flex;
}*/
header nav ul {
  padding: 10px 0;
}
header {
  /*justify-content: space-between;*/
  margin-top: 18px;
}
header nav ul li {
  list-style-type: none;
  margin-right: 30px;
  font-size: 14px;
  color: #4a3174;
}

.bold {
  font-weight: bold;
}
#recherche {
  margin-top: 200px;
}
.rechercher {
  position: relative;
  width: 222px;
}
#recherche input,
.rechercher button[type="submit"] {
  font-size: 16px;
}
#recherche input {
  top: 20px;
  padding: 10px 10px;
  color: #9d9d9d;
  background: #fff;
  border: none;
  border-radius: 3px;
  position: absolute;
  left: 0;
}
.rechercher button[type="submit"] {
  position: absolute;
  color: #fff;
  top: 20px;
  left: 180px;
  padding: 9px 10px;
  background: #4a3174;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
#logo-block {
  display: flex;
}
#recherche h2 {
  color: #4a3174;
  font-size: 48px;
}
#recherche p {
  color: #7a7a7a;
}

#recommendations {
  margin-top: 200px;
}
#recommendations h3 {
  color: #4a3174;
  font-size: 36px;
  padding-left: 20px;
}
.book-block {
  display: flex;
}
/*#recommendations article {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}*/
#articles {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
#recommendations article {
  width: 293px;
  background: #ffffff;
  padding: 10px;
}
#recommendations h4 {
  color: #222222;
}
#recommendations p {
  color: #7a7a7a;
}
.price {
  color: #4a3174;
}

#selection h3 {
  color: #4a3174;
  font-size: 36px;
  padding-left: 20px;
}
#selection h3 span {
  color: #e9b708;
}
#selection img {
  width: 81px;
  max-height: 100%;
  align-self: center;
}
#selection article {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
  background: #ffffff;
}
#selection .description {
  max-width: 600px;
  color: #999999;
}
#articles-selection {
  margin-top: 140px;
}
#selection article:hover {
  box-shadow: 2px 2px 2px #444444, -2px -2px 2px #444444;
}
#selection article:hover .description {
  color: #333333;
}
#selection article:hover > p {
  color: #e9b708;
  font-size: 36px;
}

footer {
  background: #4a3174;
  color: #ffffff;
  margin-top: 100px;
}
#footer-block {
  display: flex;
  padding-top: 20px;
}
footer h3 {
  font-size: 32px;
  margin-left: 20px;
}
footer img {
  margin-left: 110px;
}
#ul-block {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding-bottom: 50px;
}
footer li {
  list-style-type: none;
  padding: 10px;
}
footer ul {
  padding: 0;
}
footer li:hover {
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.1);
}
footer a {
  color: #ffffff;
}
